$dark_grey: #303030;
$grey: #707070;
$light_grey: #9c9c9c;
$lightest_grey_1: #d1d1d1;
$lightest_grey_2: #f6f6f6;
$white: #ffffff;

$dark_red: #c60e2e;
$red: #e4163a;
$light_red: #ff5761;
$lightest_red: #ff768e;
$blue: #344472;
