$dark_grey: #303030;
$grey: #707070;
$light_grey: #9C9C9C;
$lightest_grey_1: #D1D1D1;
$lightest_grey_2: #F6F6F6;
$white: #ffffff;

$dark_red: #C60E2E;
$red: #E4163A;
$light_red: #FF5761;
$lightest_red: #FF768E;
$blue: #344472;